.articles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.article {
  flex: 0 1 30%;
  margin: 1rem;
  min-height: 40rem;
  min-width: 30rem;
  cursor: pointer;
}

.article:hover .img-container {
  transform: scale(1.15);
}

.article h3 {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
}
.img-container {
  height: 30rem;
  background-size: cover;
  transition: transform 0.6s;
}

.newsfeed-content h2 {
  font-size: 1.9rem;
  padding: 0.5rem 1rem;
}

.newsfeed-container {
  display: flex;
  flex-flow: row nowrap;
}

.category-container {
  flex: 240px;
}

.category-container li {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.2s;
}
.category-container li:hover {
  color: var(--primary);
}

.cat-active {
  font-weight: 700;
  color: var(--primary);
}
