/* padding */
.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

/* button */
.btn {
  background-color: white;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.5rem;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
  box-shadow: var(--box-shadow);
}
.btn-small {
  font-size: 1.2rem;
  padding: 7px 12px;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--text-color-light);
}

.small {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
